div {
  width: 400px;
  height: 400px;
  padding: 20px;
}

.assign-3-shape-1 {
  background: url(./css-assignment-5-8.png) no-repeat;
}
.assign-3-shape-2 {
  background: url(./css-assignment-5-8.png) repeat-y right;
}
.assign-3-shape-3 {
  background: url(./css-assignment-5-8.png) repeat-x bottom;
  margin-bottom: 200px;
}
.assign-3-shape-4 {
  background: url(./css-assignment-5-8.png) repeat;
}
