body {
  font-family: Arial, Helvetica, sans-serif;
}

/* task 1 */
.flex {
  display: flex;
  justify-content: center;
}
.first {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -5px 0px 0px #2196f3, 5px 0px 0px #ff5722;
  font-weight: bold;
  color: #ff5722;
}

/* task 2 */
.box {
  width: 600px;
  height: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: #eee;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.box div {
  width: calc(95% / 3);
  height: 40px;
  background-color: #ff4322;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* task 3 */
.parent {
  width: 600px;
  height: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.parent div {
  width: calc(95% / 3);
  height: 50%;
  background-color: #607d8b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent .one {
  order: 6;
  height: 40px;
  align-self: flex-end;
}

.parent .two {
  order: 5;
}
.parent .three {
  order: 2;
  height: 40px;
}
.parent .four {
  order: 3;
}

.parent .five {
  order: 4;
}
.parent .six {
  order: 1;
}

/* task 4 */
.parent1 {
  width: 600px;
  height: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: #eee;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
}
.parent1 .one,
.parent1 .three {
  width: calc(95% / 3);
  width: 5%;
  height: 80px;
  background-color: #009688;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent1 .two {
  align-self: flex-start;
  width: 50%;
  height: 80px;
  background-color: #009688;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* task 5 */
.parent2 {
  width: 600px;
  height: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: #eee;
  display: flex;
  gap: 50px;
}

.parent2 div {
  width: calc(80% / 4);
  height: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent2 .one {
  background-color: #ff9800;
  order: 2;
}
.parent2 .two {
  background-color: #8bc34a;
  align-self: flex-end;
  order: 3;
}
.parent2 .three {
  background-color: #795548;
  order: 4;
}
.parent2 .four {
  background-color: #673ab7;
  order: 1;
  align-self: flex-end;
}
