div {
  width: 400px;
  height: 400px;
  padding: 20px;
  margin: auto;
  margin-bottom: 50px;
}

.assign-4-shape-1 {
  background: url(./css-assignment-5-8.png) no-repeat;
  background-size: 80%;
  background-color: #eee;
}
.assign-4-shape-2 {
  background: url(./css-assignment-5-8.png) repeat-y;
  background-position: right;
  background-size: 80%;
  background-color: #eee;
}
.assign-4-shape-3 {
  background: url(./css-assignment-5-8.png) repeat-x;
  background-position: bottom;
  background-size: 80%;
  background-color: #eee;
}
.assign-4-shape-4 {
  background: url(./css-assignment-5-8.png) no-repeat;
  background-position: bottom right;
  background-color: #eee;
}
